<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VISIONERS</title>

  <link rel="stylesheet" href="/css/main.css">
  <!-- CSS 파일의 경로를 확인하고 필요에 따라 수정해 주세요 -->
</head>

<body>
  <div class="main">
    <div class="container">
      <div class="section section1">
      <header class="header">
        <h1>
          <a href="/main">VISIONERS</a>
        </h1>
        <nav class="menu-bar">
          <ul>
            <li class="dropdown">
              <a href="javascript:void(0)">서비스소개</a>
              <div class="dropdown-content">
                <a href="/service">인사말</a>
                <a href="/seonae">팀원소개</a>
                <a href="/menu-1-3">홍보영상</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)">찾아보기</a>
              <div class="dropdown-content">
                <a href="/menu-2-1">메뉴 2-1</a>
                <a href="/menu-2-2">메뉴 2-2</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)">고객센터</a>
              <div class="dropdown-content">
                <a href="/noticeboard">문의·신고</a>
                <a href="/hyojin">FAQ</a>
                <a href="/hongmin">공지사항</a>
                <a href="/yoobin">유빈</a>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="hero">
        <h2>항공기 반입 물품 체크 서비스</h2>
        <p>
          헷갈리는 물품이 항공기에 반입 가능한지 지금 바로 확인하실 수 있습니다.
        </p>
        <a href="/cameramain" class="btn">촬영으로 확인하기</a>
        <button class="btn">검색으로 확인하기</button>
      </div>
    </div>
    </div>

    
    <div class="section section2">
      <div class="image-container">
        <img src="../images/travel.jpg" alt="여행 이미지">
        <div class="image-description">
          <p class="brandstory"> BRAND STORY</p>
          <h2>짐 챙기느라 지쳤는데, 이게 반입은 가능한지?</h2><br/>
          <h1>항공기 반입 물품 체크 서비스가 도와드립니다!</h1><br/>
          <p>여러분의 소지품이 항공기 내 반입이 가능한지 <br/>신속하고 간편하게 확인해드립니다.</p>
        </div>
      </div>
    </div>


  </div>
</body>
</html>